<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
     <!--google font link-->
     <link
     href="https://fonts.googleapis.com/css2?family=Kings&family=Montserrat:wght@100&display=swap"
     rel="stylesheet"
   />
   <!--font awsome icon link-->
   <script src="https://kit.fontawesome.com/df5aa5937e.js" crossorigin="anonymous"></script>
</head>
<body>
 
  
    <!-- header -->
    <section class="header">
        <div class="name-section">
        <h2 class="heading-main">Daily Positive <strong><i>Affirmations</i></strong> <br /></h2><br>
        <p>Beautiful and meaningful affirmations that help you to live and feel happier.Just take a deep breathe and enjoy the power of word with a calm music. </p>
        <h3> <%= date%> </h3>
        <h1><strong><i><%= aff %> </i></strong></h1>
        </div>
    </section>
    
        <div class="main">
            <% for(var singlAff of affirmations ) { %>
            <div class="card">
                    <img src="<%= singlAff.img %>" alt="">
                <div class="info">
                <h3><%= singlAff.content %></h3>
                <audio controls autoplay loop>
                    <source src="<%= singlAff.audio %>" type="audio/mp3">
                </audio>
                </div>
            </div>
            <% } %>
        </div>
        <footer >
            <p class="footer-title"><span>© Copyright <%= year %> Rafal Jawad  </span></p>
            <p class="footer-title"><span>© Copyright <%= year %> Images<a href="https://pixabay.com/" target="_blank">@Pixabay</a></span></p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/rafal-jawad/"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/Rafaljawad"><i class="fab fa-github"></i></a>
                <a href="mailto:rafal.qasim@gmail.com"><i class="fas fa-envelope"></i></a>
            </div>
        </footer>
</body>
</html>